<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Home</title>
</head>
<body>

    <h1>Welcome to our website, <%= user %></h1>
    <form action="/logout-user" method="post">
        <input type="submit" value="Abmelden">
    </form>
    <form action="/podcast" method="post">
        <input type="submit" value="podcast">
    </form>
    <form action="/podcastdev" method="post">
        <input type="submit" value="podcast  dev">
    </form>
</body>
</html>