<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/js/podcast.js" defer></script>
    <title>Podcast</title>
</head>
<body>

    <div id="main">
        <h1>Podcast</h1>
        <audio src="/public/audio/podcast.m4a" controls></audio> <br>
        <video id="webcam"></video>
    </div>
    
</body>
</html>